@import "index/header.css";
@import "index/main.css";
@import "index/info.css";





body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body > .box {
    width: 81rem;
}




a[href] {
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100%;
    margin: 0;
    margin-inline : 0;
    overflow-x: hidden;
}

html {
    height: 100%;
    background-color: #fefefe;
    color: #2f3438;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
}

ul {
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
}