
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Black+Han+Sans&family=Gowun+Dodum&family=Lavishly+Yours&family=Nanum+Brush+Script&family=Yellowtail&display=swap');


.video-container {
    position: relative; /* 자식 요소의 position: absolute 기준이 됨 */
    width: 100%;
    height: 768px; /* 비디오 높이와 동일하게 설정 */
    overflow: hidden; /* 컨테이너를 벗어나는 부분 숨기기 */
}

.video-container .video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비디오가 컨테이너를 꽉 채우도록 설정 */
}

.video-container .title-area {
    position: absolute; /* 부모(video-container)를 기준으로 위치 지정 */
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%); /* 정중앙에 위치시키기 위한 기술 */
    z-index: 10; /* 비디오보다 위에 오도록 z-index 설정 */
    color: #000000; /* 글자가 잘 보이도록 색상 지정 */
    text-align: center;

}

.video-container .title-area .title {
    font-size: 6rem;
    font-weight: 400;
    display: block;
   margin-bottom: 2rem;
    font-family: 'Black Han Sans', sans-serif;
}

.video-container .title-area .description {
    font-size: 28px;
    margin-top: 10px;
    font-weight: 300;
    font-family: 'Yellowtail', cursive;
}
