@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

:root {
    --basis-font-color: rgb(206, 206, 206); }

*{margin :0; padding:0; box-sizing: border-box;}
body{
    font-family: "Gowun Dodum", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../img/road.jpg");
    background-size: cover;

}

.login-form{
    position: relative;
}

.login-form h1 {
    font-size: 2rem;
    color: #312f2f;
    margin-bottom:50px;
    text-align: center;
}

.int-area
{
    position: relative;
    width: 400px;
}
.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    font-size: 1.2rem;
    color: #fff;
    outline: none;
}

.int-area label {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 1.2rem;
    color: #312f2f;
    transition: 0.5s;
}

.int-area input:focus + label ,input:valid + label  {
    top: 0;
    font-size: 0.9rem;
    color: var(--basis-font-color);
}

.btn-area {
    margin-top: 30px;
}

.btn-area button {
    width: 100%;
    height: 50px;
    background-color: var(--basis-font-color);
    border: none;
    color: #312f2f;
    border-radius: 25px;
}

.caption {
    margin-top : 1.5rem;
    text-align: center;
    color : #FFFFFF;
    text-decoration: underline;
    /* display: none; <-- 이 줄을 삭제하거나 주석 처리합니다. */

    /* --- 아래 3줄 추가 --- */
    opacity: 0; /* 1. 시작은 투명하게 */
    visibility: hidden; /* 2. 스크린 리더 등에서 완전히 숨김 */

    /* 3. 1초(딜레이) 후에 0.5초(지속시간) 동안 서서히 나타나도록 설정 */
    transition: opacity 175ms ease 175ms;
}

/* --- 아래 선택자 추가 --- */
/* .caption.show 클래스가 추가되면, 보이도록 변경 */
.caption.show {
    opacity: 1; /* 불투명하게 */
    visibility: visible; /* 보이게 */
}


a[href] {
    color: inherit;
    text-decoration: none;
}