
#map {
    width: 100%;
    height: 648px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
#map .shop-detail {
    width: 250px;
    height: 134px;
    background: #fff;
    padding: 14px 16px 16px;
    border-radius: 5px;
    z-index: 99;
    position: relative;
   margin-top: 32rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease-in-out;

}
.store-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding : 1.3rem 1.5rem;

}
.store-info .firstLine{
    margin-bottom: 0.5rem;
}
.store-info .firstLine .name {
    font-size: 1.4rem;
    font-weight: 600;
}
.store-info .firstLine .km {
    font-weight: 300;
    font-size: 0.8rem;
    color: rgb(139,144,144);
}
.store-info .address{
    font-weight: 500;
    font-size: 0.9rem;
    color: rgb(139,144,144);
}
.store-info .time {
    font-weight: 400;
    font-size: 0.9rem;
    color: rgb(139,144,144);
    margin-top: 0.5rem;
}

.store-info .tag-area{
    display: flex;
    font-size: 0.7rem;
    font-weight: 400;
    padding-top: 0.4rem;
    padding-left: 0.1rem;
    gap: 0.4rem;
}

.store-info .tag{
    border-radius: 3px;
    padding: 0.2rem;
    background-color: #eaeaea;
}