a[href] {
    text-decoration: none;
    color: inherit;
}

html {
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
}

.input {
    outline: none;
}

body {
    min-height: 100%;
    background-color: #fefefe;
    color: #000000;
    margin: 0;
}

ul {
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
}

body, button, dd, div, dl, dt, fieldset, figcaption, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}