@import "../../MAINPAGE/index/header.css";
@import "index/main.css";
@import "index/search-form.css";
@import "index/grid.css";
@import "common.css";



body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(243,243,233);
}

body > .box {
    width: 71.25rem;
}
