#popularShop {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    justify-content: flex-start;
    margin-bottom: 5rem;
    position: relative;
}
#popularShop > .title {
    top:0;
    font-size: 1.6rem;
    font-weight: 700;

}
#popularShop > .more {
    top: 0;
    right: 0;
    color: rgb(145,145,145);
    font-size: 1.0rem;
    font-weight: 400;
    position: absolute;
}
#popularShop > .list {
    top:0;
    left:0;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    gap: 2rem;

}
#popularShop > .list >.item {
    padding: 2rem 0;
}
#popularShop > .list >.item .logo {
    width: 10rem;
}
#popularShop > .list >.item .text-container{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(116,116,116);
    text-align: center;
}
#popularShop > .list >.item .number-container{
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
}
#popularShop > .list >.item .text-container > .code::after {
    content: ')';
}
#popularShop > .list >.item .text-container > .code::before {
    content: '(';
}