#splash {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    height: 748px; /* 추가 */
    width: 100%;


}

#splash > #side {
    width: 100%;
    height: 100%;
    align-items: stretch;
    background-color: #a0a0a0;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;

    position: absolute;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
#splash > #side > .image {
    width: 100%;
    border-radius: 0.25rem;
    cursor: pointer;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
    scroll-snap-align: start;
}

#splash > .dot-container {
    left: 50%; /* 오른쪽 앵커가 아닌 중앙 정렬을 위해 left: 50% 추가 */
    top: 40%;
    bottom: 1rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.375rem;
    justify-content: center;
    position: relative;
    transform: translateX(-50%); /* transform: translateX(50%);를 -50%로 수정 */

}

#splash > .dot-container > .dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 999rem;
    cursor: pointer;
    border: 0.15rem solid #fff;
}

#splash > .dot-container > .dot.checked{
    background-color: #ffffff;
}

#splash > .info {
    position: absolute;
    z-index: 2;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;


}
#splash > .info >.title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}
#splash > .info >.description1{
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff;

}
#splash > .info >.description2{
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff;

}



#splash > .info >.logo {
    margin-top: 2rem;
    background-color: transparent;
    border-radius: 999rem;
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    backdrop-filter: blur(20px);
    color: #ffffff;

}
#splash > .info >.logo:hover {
    background-color: #000000;
    transition-delay: 150ms;
    transition-property: color, background-color;

}