#shop-info {
    display: flex;
    flex-direction: column;
    width: 65rem;
    height: 25rem;
    background: #FFFFFF;
    margin-top: 2rem;
    border-radius: 1rem;
    overflow: hidden;
}
#shop-info .background-image-box {
    flex: 1;
    width: 100%;
    overflow: hidden;
}

#shop-info .background-image-box img {
    width: 100%;
    height: 100%;
     object-fit: cover;
    object-position: center;
}

#shop-info .button {
    position: absolute;
    top: 14rem;
    right: 9rem;
    z-index: 10;
    padding: 0.5rem 1rem;
    background: #212121a0;
    border-radius: 0.3rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
}
#form {
    flex: 1;
}
#shop-info .button.shopInfo {
    top: 27rem;
}

#form input {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
}
#form input[name="shop-name"] {
    font-size: 2rem;
    position: absolute;
    left: 30rem;
    top: 20rem;
    font-weight: 500;
}
#form input[name="shop-time"] {
    font-size: 0.9rem;
    position: absolute;
    left: 40rem;
    top: 20.9rem;

}
#form input[name="shop-type"] {
    font-size: 0.9rem;
    position: absolute;
    left: 30rem;
    top: 23.8rem;
    color: #a0a0a0;
}
#form input[name="shop-address"] {
    font-size: 0.9rem;
    position: absolute;
    left: 30rem;
    top: 25.8rem;
    width: 20rem !important;
    color: #a0a0a0;
}
#form input[name="shop-tel"] {
    font-size: 0.9rem;
    position: absolute;
    left: 30rem;
    top: 27.8rem;
    width: 10rem;
    color: #a0a0a0;
}

