.search-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap:1.5rem;
    margin-top: 4rem;
}
.search-form .icon:hover {
    opacity: 0.6; /* 1. 호버 시 적용할 투명도 값을 추가 (0.6은 60%) */
}

.search-form>.label>.icon{
    width: 2.5rem;
    height: 2.5rem;
    fill: #000000;
    padding-right: 1.3rem;
    transition: opacity 0.3s ease;
}
.search-form>.label{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    border: 0.0925rem solid #000000;
    padding: 1.2rem 1.4rem;
    gap:0.375rem;
}

.search-form>.label>.input{
    border : none;
    font : inherit;
    outline: none;
    padding: 0.875rem 0;
    background-color: transparent;
    width: 100%;
}
