#item-info .item-list {
    background: #FFFFFF;
    border-radius: 1rem;
    flex:1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
#item-info .item-list .list
{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

#item-info .category {
     background: #FFFFFF;
     border-radius: 1rem;
 }