@import "index/header.css";
@import "index/splash.css";
@import "index/quick.css";
@import "common.css";
@import "index/popularBrand.css";
@import "index/popularShop.css";



body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body > .box {
    width: 71.25rem;
}