#main {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    flex-grow: 1; /* body 내에서 남은 공간을 모두 차지 */
    width: 100%;

}
.sections {
    transform: translateX(-10%);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-grow: 1;
    width: 65rem;
    height: 40rem;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}